<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
        <!-- contenitore principale di tutto la nostra app  -->
        <div id="app" class="app-container" >
            <!-- contenitore di sinistra  -->
            <div class="container-left">
                <!-- header contenitore di sinistra -->
                <div class="header-container-left">
                    <div class="my-user">
                        <img class="user-image" src="img/avatar_1.jpg" alt="">
                        <span class="name">Sofia</span>
                    </div>
                    <div class="aside-icon">
                        <i class="fa-solid fa-spinner"></i>
                        <i class="fa-solid fa-message"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>
                <!-- /header contenitore di sinistra -->

                <!-- contenitore notifiche container sinistro  -->
                <div class="settings-notify">
                    <button class="icon-silece">
                        <i class="fa-solid fa-bell-slash"></i>
                    </button>
                    <div class="choice-silense">
                        <p>Attiva Notifiche a desktop</p>
                    </div>
                </div>
                <!-- /contenitore notifiche container sinistro  -->
                <!-- contenitore ricerca chat  -->
                <div class="search-chat">
                    <button class="lens"><i class="fa-solid fa-magnifying-glass"></i></button>
                    <input type="text" id="search" placeholder="cerca o inizia una nuova chat"  v-model="search">
                </div>
                <div class="chat-list-container">
                    <div class="chat-list" v-for="(contact, index) in filteredList"  @click="selectContact(index)">
                        <div class="person">
                            <img class="user-image" :src=" `img/avatar${contact.avatar}.jpg`" alt="">
                            <div class="name-person">
                                <span class="name">{{contact.name}}</span>
                                <div class="last-message">
                                    <p>ultimo messaggio inviato</p>
                                </div>
                            </div>
                        </div>
                        <div class="time">
                            <small>12:00</small>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /contenitore ricerca chat  -->

            <!-- conntenitore di destra  -->
            <div class="container-right">
                <!-- conntenitore header di destra  -->
                <div class="header-container-right">
                    <div class="my-user">
                        <img class="user-image" :src="`img/avatar${contacts[activeContact].avatar}.jpg`" alt="">
                        <div class="name-person">
                            <span class="name">{{contacts[activeContact].name}}</span>
                            <div class="last-message">
                                <p>ultimo accesso oggi alle 12:00</p>
                            </div>
                        </div>
                    </div>
                    <!-- icone header destro  -->
                    <div class="aside-icon">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <i class="fa-solid fa-paperclip"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                    <!-- /icone header destro  -->
                </div>
                <div class="container-message">
                    <div class="container-row" v-for="(contact,index) in contacts[activeContact].messages" :class="contact.status === 'sent' ? 'sent-message' : 'received-message'">
                        <div class="text">{{contact.message }}</div> 
                        <div class="time-send">
                            <small>16:15</small>
                        </div>
                    </div>
                </div>
                
                
                <div class="footer-input">
                    <div class="emoji">
                        <i class="fa-regular fa-face-smile"></i>
                    </div>
                    <form class="message-input" @submit.prevent="addNewMessage()">
                        <input type="text" value="" id="input-text" placeholder="Scrivi un messaggio" v-model="newMessage.message">
                    </form>
                    <div class="microphone">
                        <div class="icon-microphone">
                            <i class="fa-solid fa-microphone"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <script src="script.js"></script>
</body>
</html>