*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient( to bottom, #009688 0%, #009688 15%, #dadbd3 15%, #dadbd3 100%);
    height: 100vh;
}

.app-container{
    height: 90%;
    padding: 20px;
    display: flex;
    width: 1440px;
    margin: auto;
    overflow: hidden;
    
}
.container-left{
    width: 40%;
    background-color: #eaeaea;
    border-right: 0.5px solid grey;
    overflow: auto;
}

.container-right{
    width: 60%;
    background-color: #eaeaea;
    background-image: url(img/mine.jpg);

}

.header-container-left, .header-container-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 70px;
}

.header-container-right{
    background-color: #eaeaea;
}
.my-user{
    display: flex;
    align-items: center;
}
.user-image{
    height: 50px;
    border-radius: 50%;
}

.aside-icon i{
    margin-right: 20px;
    font-size: 20px;
}

.settings-notify{
    display: flex;
    width: 100%;
    background-color: #8edafc;
    align-items: center;
    padding: 10px;
}

.icon-silece{
    padding: 20px;
    border-radius: 50%;
    border: none;
    font-size: 20px;
}

.search-chat{
display: flex;
justify-content: center;
height: 40px;
padding: 5px;
}

.lens{
    width: 10%;
    border: none;
}

#search{
    width: 90%;
    border: none;
}

.chat-list{
    padding: 10px;
    display: flex;
    align-items: center; 
    justify-content: space-between;
}

.name-person{
    margin-left: 20px;
}
.person{
    display: flex;
}
.chat-list{
    background-color: white;
    border: 0.5px solid #eaeaea;
    overflow-y: auto;
}



.emoji, .microphone{
    padding:20px;
    font-size: 25px;
}

.footer-input{
    height: 70px;
    background-color: #eaeaea;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container-message{
    display: flex;
    flex-direction: column;
    height:calc(100% - 140px);
    width: 100%;
    padding: 50px;
    overflow: auto;
}

.message-input{
    width: 80%;
}

#input-text{
    width: 100%;
    padding: 10px;
}


.sent-message{
    align-self: flex-end;
    background-color: greenyellow;
} 
.received-message{
    background-color: white;
    align-self: flex-start;
}

.time-send{
    color: grey;
    width: 30%;
    margin-top: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.container-row{
    width: 30%;
    margin: 5px;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
